body {
	background: #333;
}
.parentLoad {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h2 {
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	font-size: 48px;
}

#Loader4 span{
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 100%;
	display: inline-block;
	animation: opacityMove 1s ease-in-out infinite;
}
#Loader4 span:nth-child(1) {
	animation: opacityMove 2s ease-in-out infinite;
}

#Loader4 span:nth-child(2) {
	animation: opacityMove 2s ease-in-out 0.4s infinite;
}

#Loader4 span:nth-child(3) {
	animation: opacityMove 2s ease-in-out 0.8s infinite;
}

@keyframes opacityMove {
	0%, 100% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
}